body {
    font-family: Arial, sans-serif;
    color: rgb(240, 235, 235);
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    background-image: url(gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
.perfil{
    width: 30%;
    border-radius: 50%;
    transition: transform 10s;
}
.perfil:hover {
    animation: girar 2s linear infinite;
  }
  
  @keyframes girar {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

h3 {
  font-size: 16px;
  margin-bottom: 6px;
}


h1 + h2,
h2 + h3 {
  margin-top: 12px;
}

h3 + h3 {
  margin-top: 4px;
}

br {
  line-height: 2;
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }
}
footer {
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1, h2, h3 :hover{
    color: red;
}